.main-navbar {
  padding-left: 0;
  &__logo {
    background-color:#214ca1;
    height: inherit;
    width: 120px;
    .logo-img{
      width: inherit;
    }
  }
  &__spacer{
    flex: 1 1 auto;
  }
}
