<mat-toolbar color="secondary">
  <mat-toolbar-row class="navbar">
    <div class="logo">
      <img src="../../../assets/img/basf-logo.png" alt="basf-logo" class="logo-img">
    </div>
    <span class="spacer"></span>
    <ng-container>
      <button
        mat-icon-button
        matTooltip="login"
        >
        <mat-icon
          aria-hidden="false"
          aria-label="login"
          >
          login
        </mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
