@import "colours";
.chemical-windows-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.chemical-windows-searchbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 3rem;
  background-color: $basf-sky-blue;
  min-height: 4rem;
}
.chemical-window-summary{
  display: flex;
  justify-content: center;
  width: 100%;
}
.chemical-window-summary-card{
  margin: 1rem;
  width: 20%;
}

.chemical-window-summary-tables {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.chemical-windows-error {
  display: flex;
  justify-content: center;
  min-height: 4rem;
}
