
.chemical-windows-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.chemical-windows-searchbar{
  display: flex;
  justify-content: center;
  padding: 3rem 3rem;
  background-color: #2696d2;
  min-height: 4rem;
}
.chemical-window-searchbox{
  width: 40%;
  min-width: 200px;
}
.chemical-window-summary{
  display: flex;
  justify-content: center;
  width: 100%;
}
.chemical-window-summary-card{
  margin: 1rem;
  width: 20%;
}

.chemical-window-summary-tables {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.chemical-windows-error {
  display: flex;
  justify-content: center;
  min-height: 4rem;
}
