<div class="document-import">
  <button (click)="fileInput.click()" mat-flat-button color="accent" class="document-import__btn">
    <mat-icon class="document-import__btn__icon">cloud_upload</mat-icon>
    <span> Import Chemical Type 1</span>
    <input #fileInput (change)="onFileInput($event,1)" type="file" style="display:none;"/>
  </button>
  <button (click)="fileInput2.click()" mat-flat-button color="accent" class="document-import__btn">
    <mat-icon>cloud_upload</mat-icon>
    <span> Import Chemical Type 2</span>
    <input #fileInput2 (change)="onFileInput($event,2)" type="file" style="display:none;"/>
  </button>
</div>


